{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Stream test</title>
    
</head>
<body> 
    <textarea name="ta" id="results" cols="30" rows="10"> 
  
    </textarea><br> 
    Enter the expression: <input type="text" id="exp"> 
    <input type="button" id="submit" value="Get Results"> 
    <script> 
        const socket = new WebSocket('ws://localhost:8000/ws/livec/'); 
        socket.onmessage = (e) => { 
            result = JSON.parse(e.data).result; 
            document.getElementById("results").value += "Server: " + result + "\n"; 
        } 
  
        socket.onclose = (e) => { 
            console.log("Socket closed!"); 
        } 
  
        document.querySelector('#exp').onkeyup = function (e) { 
            if (e.keyCode === 13) {  // enter, return 
                document.querySelector('#submit ').click(); 
            } 
        }; 
  
        document.querySelector("#submit").onclick = (e) => { 
            inputfield = document.querySelector("#exp") 
            exp = inputfield.value 
            socket.send(JSON.stringify( 
                { 
                    prompt: exp 
                } 
            )) 
            document.querySelector("#results").value += "You: " + exp + "\n"; 
            inputfield.value = ""; 
        } 
  
    </script> 
</body> 
  
</html>
